<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear un Servicio</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">Crear un Servicio</h1>
		<br>
		<form th:action="@{/admin/registrar}" method="POST"
			th:object="${servicios}" class="needs-validation" novalidate>
			<div th:if="${mensaje!=null}" class="alert alert-info"
				th:text="${mensaje}"></div>
			<div class="form-group">
				<label for="nombre">Nombre:</label> <input type="text" id="nombre"
					name="nombre" class="form-control" th:field="*{nombre}" required>
				<div class="invalid-feedback">Por favor, ingrese el nombre del
					servicio.</div>
			</div>
			<div class="form-group">
				<label for="descripcion">Descripción:</label> <input type="text"
					id="descripcion" name="descripcion" class="form-control"
					th:field="*{descripcion}" required>
				<div class="invalid-feedback">Por favor, ingrese una
					descripción.</div>
			</div>
			<div class="form-group">
				<label for="requisitos">Requisito:</label> <input type="text"
					id="requisitos" name="requisitos" class="form-control"
					th:field="*{requisitos}" required>
				<div class="invalid-feedback">Por favor, ingrese los
					requisitos.</div>
			</div>
			<div class="form-group">
				<label for="estado">Estado:</label> <select id="estado"
					name="estado" class="form-control" th:field="*{estado}" required>
					<option value="Activo">Activo</option>
					<option value="Inactivo">Inactivo</option>
				</select>
				<div class="invalid-feedback">Por favor, seleccione un estado.</div>
			</div>
			<div class="form-group">
				<label for="precio">Precio:</label> <input type="text" id="precio"
					name="precio" class="form-control" th:field="*{precio}" required>
				<div class="invalid-feedback">Por favor, ingrese el precio.</div>
			</div>
			<div class="form-group">
				<label for="descuento">Descuento:</label> <input type="text"
					id="descuento" name="descuento" class="form-control"
					th:field="*{descuento}" required>
				<div class="invalid-feedback">Por favor, ingrese el descuento.</div>
			</div>
			<button type="submit" class="btn btn-primary">Grabar</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						var forms = document
								.getElementsByClassName('needs-validation');
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>
</body>
</html>