<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Actualizar Usuario</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">Actualizar Usuario</h1>
		<form th:action="@{/admin/actualizarUsuario}" method="POST"
			th:object="${usuarios}" class="needs-validation" novalidate>
			<div th:if="${mensaje!=null}" class="alert alert-info"
				th:text="${mensaje}"></div>
			<input type="hidden" th:field="*{id}" /> <input type="hidden"
				th:value="${usuarioId}" name="usuarioId">
			<div class="form-group">
				<label for="nombre">Nombre:</label> <input type="text" id="nombre"
					name="nombre" class="form-control" th:field="*{nombre}" required>
				<div class="invalid-feedback">Por favor, ingrese el nombre.</div>
			</div>
			<div class="form-group">
				<label for="apellido">Apellido:</label> <input type="text"
					id="apellido" name="apellido" class="form-control"
					th:field="*{apellido}" required>
				<div class="invalid-feedback">Por favor, ingrese el apellido.</div>
			</div>
			<div class="form-group">
				<label for="dni">DNI:</label> <input type="text" id="dni" name="dni"
					class="form-control" th:field="*{dni}" required>
				<div class="invalid-feedback">Por favor, ingrese el DNI.</div>
			</div>
			<div class="form-group">
				<label for="direccion">Dirección:</label> <input type="text"
					id="direccion" name="direccion" class="form-control"
					th:field="*{direccion}" required>
				<div class="invalid-feedback">Por favor, ingrese la dirección.</div>
			</div>
			<div class="form-group">
				<label for="telefono">Teléfono:</label> <input type="text"
					id="telefono" name="telefono" class="form-control"
					th:field="*{telefono}" required>
				<div class="invalid-feedback">Por favor, ingrese el teléfono.</div>
			</div>
			<div class="form-group">
				<label for="rol">Rol:</label> <select id="rol" name="rol"
					class="form-control" th:field="*{rol}" required>
					<option value="cliente">Cliente</option>
					<option value="admin">Admin</option>
					<option value="abogado">Abogado</option>
					<option value="recepcionista">Recepcionista</option>
				</select>
				<div class="invalid-feedback">Por favor, seleccione un rol.</div>
			</div>
			<div class="form-group">
				<label for="estado">Estado:</label> <select id="estado"
					name="estado" class="form-control" th:field="*{estado}" required>
					<option value="Activo">Activo</option>
					<option value="Inactiva">Inactiva</option>
				</select>
				<div class="invalid-feedback">Por favor, seleccione un estado.</div>
			</div>
			<div class="form-group">
				<label for="tipoJornada">Tipo de Jornada:</label> <input type="text"
					id="tipoJornada" name="tipoJornada" class="form-control"
					th:field="*{tipoJornada}" required>
				<div class="invalid-feedback">Por favor, ingrese el tipo de
					jornada.</div>
			</div>
			<button type="submit" class="btn btn-primary">Actualizar</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
	<script>
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						var forms = document
								.getElementsByClassName('needs-validation');
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>
</body>
</html>