<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Transacciones</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrap.com/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">Lista de Transacciones</h1>
		<a th:href="@{/admin/downloadTransacciones(usuarioId=${usuarioId})}"
			class="btn btn-primary mb-4">Descargar CSV</a>
		<table class="table table-bordered mt-4">
			<thead class="thead-dark">
				<tr>
					<th>ID Transacción</th>
					<th>Nombre del Servicio</th>
					<th>Cliente (Usuario Logeado)</th>
					<th>Abogado (Usuario Seleccionado)</th>
					<th>Horario</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="transaccion : ${transacciones}">
					<td th:text="${transaccion.id}"></td>
					<td th:text="${transaccion.servicio.nombre}"></td>
					<td th:text="${transaccion.usuarioLogeado.nombre}"></td>
					<td th:text="${transaccion.usuarioSeleccionado.nombre}"></td>
					<td th:text="${transaccion.horario}"></td>
					<td th:text="${transaccion.estado}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>