<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Administrar Servicios</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">Administrar Servicios</h1>
		<form th:action="@{/admin/buscarServicios}" method="GET"
			class="form-inline my-4 justify-content-center">
			<div class="form-group mx-sm-3 mb-2">
				<label for="nombre" class="sr-only">Nombre</label> <input
					type="text" class="form-control" id="nombre" name="nombre"
					placeholder="Nombre del servicio">
			</div>
			<input type="hidden" id="usuarioId" name="usuarioId"
				th:value="${usuarioId}" />
			<button type="submit" class="btn btn-primary mb-2">Buscar</button>
		</form>
		<div th:if="${mensaje != null}" class="alert alert-info"
			th:text="${mensaje}"></div>
		<table class="table table-bordered mt-4 text-center">
			<thead class="thead-dark">
				<tr>
					<th>Nombre</th>
					<th>Estado</th>
					<th>Precio</th>
					<th>Descuento</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="servicio : ${listaServicios}">
					<td th:text="${servicio.nombre}"></td>
					<td th:text="${servicio.estado}"></td>
					<td th:text="${servicio.precio}"></td>
					<td th:text="${servicio.descuento}"></td>
					<td><a
						th:href="@{/admin/editarServicio/{id}(id=${servicio.id})}"
						class="btn btn-warning">Actualizar</a> <a
						th:href="@{/admin/agregarHorarios/{id}/{usuarioId}(id=${servicio.id}, usuarioId=${usuarioId})}"
						class="btn btn-primary">Agregar Horario</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
</body>