<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Abogados en Turno</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">Abogados en Turno</h1>
		<div th:if="${mensaje}">
			<div class="alert alert-info" th:text="${mensaje}"></div>
		</div>
		<table class="table table-bordered mt-4 text-center">
			<thead class="thead-dark">
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Especialidad</th>
					<th>Teléfono</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="abogado : ${abogados}">
					<td th:text="${abogado.nombre}"></td>
					<td th:text="${abogado.apellido}"></td>
					<td th:text="${abogado.especialidad}"></td>
					<td th:text="${abogado.telefono}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>