<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cliente</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">Cliente</h1>
		<input type="hidden" th:field="*{usuarioId}" th:value="${usuarioId}">
		<div class="list-group mt-4 text-center">
			<a th:href="@{/cliente/clientePerfil(usuarioId=${usuarioId})}"
				class="list-group-item list-group-item-action">Mi Perfil</a> <a
				th:href="@{/cliente/clienteServiciosDisponible(usuarioId=${usuarioId})}"
				class="list-group-item list-group-item-action">Servicios
				Disponibles</a> <a
				th:href="@{/cliente/transaccionesUsuario(usuarioId=${usuarioId})}"
				class="list-group-item list-group-item-action">Mis Transacciones</a>
			<a th:href="@{/home/ayuda}"
				class="list-group-item list-group-item-action">Ayuda</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>