<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Programar Cita</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center">Programar Cita</h1>
		<div th:if="${mensaje}">
			<div class="alert alert-info" th:text="${mensaje}"></div>
		</div>
		<form th:action="@{/abogado/crearCita}" method="post" class="mt-4">
			<input type="hidden" name="usuarioId" th:value="${usuarioId}">
			<div class="form-group">
				<label for="dniCliente">DNI del Cliente</label> <input type="text"
					class="form-control" id="dniCliente" name="dniCliente" required>
			</div>
			<div class="form-group">
				<label for="servicioId">Servicio</label> <select
					class="form-control" id="servicioId" name="servicioId" required>
					<option th:each="servicio : ${servicios}" th:value="${servicio.id}"
						th:text="${servicio.nombre}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="horario">Horario</label> <select class="form-control"
					id="horario" name="horario" required>
					<option value="9:00 AM - 10:00 AM">9:00 AM - 10:00 AM</option>
					<option value="10:00 AM - 11:00 AM">10:00 AM - 11:00 AM</option>
					<option value="11:00 AM - 12:00 PM">11:00 AM - 12:00 PM</option>
					<option value="12:00 PM - 1:00 PM">12:00 PM - 1:00 PM</option>
					<option value="1:00 PM - 2:00 PM">1:00 PM - 2:00 PM</option>
					<option value="2:00 PM - 3:00 PM">2:00 PM - 3:00 PM</option>
					<option value="3:00 PM - 4:00 PM">3:00 PM - 4:00 PM</option>
					<option value="4:00 PM - 5:00 PM">4:00 PM - 5:00 PM</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Crear Cita</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>